In [5]:
import pandas as pd
from pathlib import Path
import pickle

PROJECT_PATH = Path().cwd().parent
INPUT_PATH = PROJECT_PATH.joinpath('data/raw')

In [6]:
pd.read_feather(INPUT_PATH.joinpath('BP.feather'))

          patientunitstayid  observationoffset  noninvasivesystolic
0                    141168                349                  NaN
1                    141168                123                106.0
2                    141168               1398                  NaN
3                    141168                441                  NaN
4                    141168                138                111.0
...                     ...                ...                  ...
25075069            3353263                 14                127.0
25075070            3353263                710                118.0
25075071            3353263                350                124.0
25075072            3353263                590                129.0
25075073            3353263                290                123.0

[25075074 rows x 3 columns]